Mini-Projet/CreditCard Fraud Detection/creditcard.csv
Mini-Projet/Malicious URLs Detection/malicious_phish.csv
Tp3/heart.csv
Tp3/diabetes.csv
Tp3/credit.csv
Tp3/IRIS.csv
Tp2/Mini-Projet/Malicious URLs Detection/malicious_phish.csv
Tp2/Mini-Projet/CreditCard Fraud Detection/creditcard.csv
Tp3/Titanic Dataset/gender_submission.csv
Tp3/Titanic Dataset/test.csv
Tp3/Titanic Dataset/train.csv
Tp3/tennum.txt
Tp3/creditcard.csv
Tp3/Mini-Projet/train.csv
Tp3/Mini-Projet/test.csv
Tp3/Mini-Projet/gender_submission.csv
Tp3/Mini-Projet/diabetes.csv
Tp5/BankData.csv
Tp5/real_data.rda
Tp5/Social_Network_Ads.csv
Tp5/synth_test.txt
Tp5/synth_train.txt
Tp5/Data Intrusion/Train_data.csv
Tp5/Data Intrusion/Test_data.csv
