Mini-Projet/CreditCard Fraud Detection/creditcard.csv
Mini-Projet/Malicious URLs Detection/malicious_phish.csv
Tp3/heart.csv
Tp3/diabetes.csv
Tp3/credit.csv
Tp3/IRIS.csv
Tp2/Mini-Projet/Malicious URLs Detection/malicious_phish.csv
Tp2/Mini-Projet/CreditCard Fraud Detection/creditcard.csv
Tp3/Titanic Dataset/gender_submission.csv
Tp3/Titanic Dataset/test.csv
Tp3/Titanic Dataset/train.csv
Tp3/tennum.txt
